<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aws.compass.repository.AcademyMapper">

    <insert id="academyRegist" parameterType="com.aws.compass.entity.AcademyRegistration">
        insert into academy_registration_tb
        values(
            0,
            #{acaAsnum},
            #{acaNm},
            #{admstZoneNm},
            #{atptOfcdcScCode},
            #{match},
            #{userId},
            #{businessRegistrationFile},
            #{idFile},
            <choose>
                <when test='operationRegistrationFile==null or operationRegistrationFile.equals("")'>
                    '',
                </when>
                <otherwise>
                    #{operationRegistrationFile},
                </otherwise>
            </choose>
            0
        )
    </insert>
    <select id="academyDuplicate" resultType="java.lang.Integer">
        select
        	if(count(*) > 1, 1, 0) as result
        from
        	academy_registration_tb
        where
        	aca_asnum = #{acaAsnum} and
            atpt_ofcdc_sc_code = #{atptOfcdcScCode};
    </select>
</mapper>