<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aws.compass.repository.AcademyMapper">
    <resultMap id="academyRegistrationMap" type="com.aws.compass.entity.AcademyRegistration">
        <id property="academyRegistrationId" column="academy_registration_id"/>
        <result property="academyId" column="ACADEMY_ID"/>
        <result property="acaAsnum" column="ACA_ASNUM"/>
        <result property="acaNm" column="ACA_NM"/>
        <result property="admstZoneNm" column="ADMST_ZONE_NM"/>
        <result property="match" column="match"/>
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="businessRegistrationFile" column="business_registration_file"/>
        <result property="idFile" column="id_file"/>
        <result property="operationRegistrationFile" column="operation_registration_file"/>
        <result property="approvalStatus" column="approval_status"/>
        <result property="rejectReason" column="reject_reason"/>
    </resultMap>
    <update id="updateAcademyRegist">
        update
            academy_registration_tb
        set
            approval_status = 0,
            business_registration_file = #{businessRegistrationFile},
            id_file = #{idFile},
            operation_registration_file =
            <choose>
                <when test='operationRegistrationFile==null or operationRegistrationFile.equals("")'>
                    null,
                </when>
                <otherwise>
                    #{operationRegistrationFile},
                </otherwise>
            </choose>
            reject_reason = null
        where
            academy_registration_id = #{academyRegistrationId}
    </update>
    <select id="getListTotalCount" resultType="int" parameterType="com.aws.compass.vo.AcademySearchVo">
        select
            count(*)
        from
            academy_tb
        where
            1 = 1
            <if test="atptOfcdcScCode!=null and !atptOfcdcScCode.equals('')">
                and ATPT_OFCDC_SC_CODE = #{atptOfcdcScCode}
            </if>
            <if test="admstZoneNm!=null and !admstZoneNm.equals('')">
                and ADMST_ZONE_NM = #{admstZoneNm}
            </if>
            <if test="acaAsnum!=null and !acaAsnum.equals('')">
                and ACA_ASNUM = #{acaAsnum}
            </if>
            <if test="acaNm!=null and !acaNm.equals('')">
                and ACA_NM LIKE CONCAT('%', #{acaNm}, '%')
            </if>
            <if test="realmScNm!=null and !realmScNm.equals('')">
                and REALM_SC_NM = #{realmScNm}
            </if>
            <if test="leOrdNm!=null and !leOrdNm.equals('')">
                and LE_ORD_NM = #{leOrdNm}
            </if>
            <if test="leCrseNm!=null and !leCrseNm.equals('')">
                and LE_CRSE_NM = #{leCrseNm}
            </if>
    </select>

    <select id="getAcademies" parameterType="com.aws.compass.vo.AcademySearchVo" resultType="com.aws.compass.entity.Academy">
        SELECT
            ACADEMY_ID,
            ATPT_OFCDC_SC_CODE,
            ATPT_OFCDC_SC_NM,
            ADMST_ZONE_NM,
            ACA_INSTI_SC_NM,
            ACA_ASNUM,
            ACA_NM,
            ESTBL_YMD,
            REG_YMD,
            REG_STTUS_NM,
            CAA_BEGIN_YMD,
            CAA_END_YMD,
            TOFOR_SMTOT,
            DTM_RCPTN_ABLTY_NMPR_SMTOT,
            REALM_SC_NM,
            LE_ORD_NM,
            LE_CRSE_LIST_NM,
            LE_CRSE_NM,
            PSNBY_THCC_CNTNT,
            THCC_OTHBC_YN,
            BRHS_ACA_YN,
            FA_RDNMA,
            FA_RDNDA,
            FA_RDNZC,
            FA_TELNO,
            LOAD_DTM
        FROM
            academy_tb
        where
            1 = 1
        <if test="atptOfcdcScCode!=null and !atptOfcdcScCode.equals('')">
            and ATPT_OFCDC_SC_CODE = #{atptOfcdcScCode}
        </if>
        <if test="admstZoneNm!=null and !admstZoneNm.equals('')">
            and ADMST_ZONE_NM = #{admstZoneNm}
        </if>
        <if test="acaAsnum!=null and !acaAsnum.equals('')">
            and ACA_ASNUM = #{acaAsnum}
        </if>
        <if test="acaNm!=null and !acaNm.equals('')">
            and ACA_NM LIKE CONCAT('%', #{acaNm}, '%')
        </if>
        <if test="realmScNm!=null and !realmScNm.equals('')">
            and REALM_SC_NM = #{realmScNm}
        </if>
        <if test="leOrdNm!=null and !leOrdNm.equals('')">
            and LE_ORD_NM = #{leOrdNm}
        </if>
        <if test="leCrseNm!=null and !leCrseNm.equals('')">
            and LE_CRSE_NM = #{leCrseNm}
        </if>
        limit #{index}, #{pSize}
    </select>

    <insert id="academyRegist" parameterType="com.aws.compass.entity.AcademyRegistration">
        insert into academy_registration_tb
        values(
            0,
            #{academyId},
            #{match},
            #{userId},
            #{businessRegistrationFile},
            #{idFile},
            <choose>
                <when test='operationRegistrationFile==null or operationRegistrationFile.equals("")'>
                    null,
                </when>
                <otherwise>
                    #{operationRegistrationFile},
                </otherwise>
            </choose>
            0,
            null
        )
    </insert>
    <select id="academyDuplicate" resultType="java.lang.Integer">
        select
        	if(count(*) > 0, 1, 0) as result
        from
        	academy_registration_tb
        where
        	ACADEMY_ID = #{academyId};
    </select>
    <select id="getAcademy" resultType="com.aws.compass.entity.Academy">
        select
        	at.ACADEMY_ID,
        	at.ACA_NM,
        	at.FA_RDNMA,
        	at.FA_RDNDA,
            at.REALM_SC_NM,
            at.LE_CRSE_LIST_NM
        from
        	academy_tb at
        where
            at.ACADEMY_ID = #{ACADEMY_ID}
    </select>

    <select id="getAcademyInfo" resultType="com.aws.compass.entity.AcademyInfo">
        select
        	ait.logo_img,
        	ait.class_size,
        	ait.course_period,
        	ait.purpose,
        	ait.home_page,
        	ait.phone
        from
        	academy_info_tb ait
        where
            ait.ACADEMY_ID = #{ACADEMY_ID}
    </select>

    <select id="getConvenienceInfo" resultType="java.lang.String">
        select
        	ct.convenience_name
        from
            academy_info_tb ait
        	left outer join academy_convenience_tb act on(act.academy_info_id = ait.academy_info_id)
        	left outer join convenience_tb ct on(ct.convenience_id = act.convenience_id)
        where
            ait.ACADEMY_ID = #{ACADEMY_ID}
    </select>

    <select id="getAgeRange" resultType="java.lang.String">
        select
        	agt.age_range
        from
        	academy_info_tb ait
            left outer join attendance_age_tb aat on(aat.academy_info_id = ait.academy_info_id)
        	left outer join age_tb agt on(agt.age_id = aat.age_id)
        where
            ait.ACADEMY_ID = #{ACADEMY_ID}
    </select>

    <select id="getClassInfo" resultType="com.aws.compass.entity.ClassInfo">
        select
            cit.class_name,
            cit.class_price
        from
            academy_info_tb ait
            left outer join class_info_tb cit on(cit.academy_info_id = ait.academy_info_id)
        where
            ait.ACADEMY_ID = #{ACADEMY_ID}
    </select>
      
    <select id="getAppliedAcademyRegistrations" resultMap="academyRegistrationMap" parameterType="map">
        select
            art.academy_registration_id,
            art.ACADEMY_ID,
            at.ACA_ASNUM,
            at.ACA_NM,
            at.ADMST_ZONE_NM,
            art.match,
            art.user_id,
            art.business_registration_file,
            art.id_file,
            art.operation_registration_file,
            art.approval_status,
            art.reject_reason
        from
            academy_registration_tb art
                left outer join academy_tb at on(at.ACADEMY_ID = art.ACADEMY_ID)
        where
            art.user_id = #{userId}
            and art.approval_status &lt; 1
        order by
            art.approval_status asc,
            art.academy_registration_id desc
        limit #{index}, 5
    </select>
    <select id="getAppliedAcademyCount" resultType="java.lang.Integer">
        select
            count(*)
        from
            academy_registration_tb art
        where
            user_id = #{userId}
            and art.approval_status &lt; 1
    </select>
</mapper>