<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aws.compass.repository.AdminMapper">
    <resultMap id="academyMap" type="com.aws.compass.entity.Academy">
        <id property="academyRegistrationId" column="academy_registration_id"/>
        <result property="acaAsnum" column="aca_asnum"/>
        <result property="acaNm" column="aca_nm"/>
        <result property="admstZoneNm" column="admst_zone_nm"/>
        <result property="atptOfcdcScCode" column="atpt_ofcdc_sc_code"/>
        <result property="match" column="match"/>
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="businessRegistrationFile" column="business_registration_file"/>
        <result property="idFile" column="id_file"/>
        <result property="operationRegistrationFile" column="operation_registration_file"/>
    </resultMap>
    <update id="updateApprovalState">
        update
            academy_registration_tb
        set
            approval_status = 1
        where
            academy_registration_id = #{academyRegistrationId}
    </update>
    <update id="updateUserRole">
        update
            user_tb
        set
            role_id = 2
        where
            user_id = #{userId}
    </update>
    <delete id="deleteByAcademyRegistrationId">
        delete from
            academy_registration_tb
        where
            academy_registration_id = #{academyRegistrationId}
    </delete>

    <select id="getAwaitingAcademies" resultMap="academyMap">
        select
            art.academy_registration_id,
            art.aca_asnum,
            art.aca_nm,
            art.admst_zone_nm,
            art.atpt_ofcdc_sc_code,
            art.match,
            art.user_id,
            ut.name,
            art.business_registration_file,
            art.id_file,
            art.operation_registration_file
        from
            academy_registration_tb art
                left outer join user_tb ut on(ut.user_id = art.user_id)
        where
            art.approval_status = 0
        order by
            art.academy_registration_id desc
        limit #{index}, 5
    </select>
    <select id="getAwaitingAcademyCount" resultType="java.lang.Integer">
        select
            count(*)
        from
            academy_registration_tb art
            left outer join user_tb ut on(ut.user_id = art.user_id)
        where
            art.approval_status = 0
    </select>
</mapper>