<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aws.compass.repository.AdvertisementMapper">
    <resultMap id="academyMap" type="com.aws.compass.entity.Academy">
        <id property="ACADEMY_ID" column="ACADEMY_ID" />
        <result property="ATPT_OFCDC_SC_CODE" column="ATPT_OFCDC_SC_CODE" />
        <result property="ATPT_OFCDC_SC_NM" column="ATPT_OFCDC_SC_NM" />
        <result property="ADMST_ZONE_NM" column="ADMST_ZONE_NM" />
        <result property="ACA_INSTI_SC_NM" column="ACA_INSTI_SC_NM" />
        <result property="ACA_ASNUM" column="ACA_ASNUM" />
        <result property="ACA_NM" column="ACA_NM" />
        <result property="ESTBL_YMD" column="ESTBL_YMD" />
        <result property="REG_YMD" column="REG_YMD" />
        <result property="REG_STTUS_NM" column="REG_STTUS_NM" />
        <result property="CAA_BEGIN_YMD" column="CAA_BEGIN_YMD" />
        <result property="CAA_END_YMD" column="CAA_END_YMD" />
        <result property="TOFOR_SMTOT" column="TOFOR_SMTOT" />
        <result property="DTM_RCPTN_ABLTY_NMPR_SMTOT" column="DTM_RCPTN_ABLTY_NMPR_SMTOT" />
        <result property="REALM_SC_NM" column="REALM_SC_NM" />
        <result property="LE_ORD_NM" column="LE_ORD_NM" />
        <result property="LE_CRSE_LIST_NM" column="LE_CRSE_LIST_NM" />
        <result property="LE_CRSE_NM" column="LE_CRSE_NM" />
        <result property="PSNBY_THCC_CNTNT" column="PSNBY_THCC_CNTNT" />
        <result property="THCC_OTHBC_YN" column="THCC_OTHBC_YN" />
        <result property="BRHS_ACA_YN" column="BRHS_ACA_YN" />
        <result property="FA_RDNMA" column="FA_RDNMA" />
        <result property="FA_RDNDA" column="FA_RDNDA" />
        <result property="FA_RDNZC" column="FA_RDNZC" />
        <result property="FA_TELNO" column="FA_TELNO" />
        <result property="LOAD_DTM" column="LOAD_DTM" />
        <result property="logoImg" column="logo_img" />
        <result property="like_count" column="LIKE_COUNT" />
        <result property="avg_score" column="AVG_SCORE" />
    </resultMap>

    <select id="getADOfRandomAcademies"
            resultMap="academyMap">
        select
            pit.ACADEMY_ID,
            at.ACA_NM,
            at.FA_RDNMA,
            at.FA_RDNDA,
            at.REALM_SC_NM,
            at.LE_CRSE_LIST_NM,
            at.FA_TELNO,
            ait.logo_img,
            IFNULL(lt.LIKE_COUNT, 0) AS LIKE_COUNT,
            IFNULL(rt.AVG_SCORE, 0) AS AVG_SCORE
        from
            purchase_info_tb pit
            left outer join academy_info_tb ait ON (ait.ACADEMY_ID = pit.ACADEMY_ID)
            left outer join product_tb pt on(pt.product_id = pit.product_id)
            left outer join academy_tb at on(at.ACADEMY_ID = pit.ACADEMY_ID)
            left outer join (
                SELECT ACADEMY_ID, COUNT(*) AS LIKE_COUNT
                FROM like_tb
                GROUP BY ACADEMY_ID
            ) lt ON lt.ACADEMY_ID = at.ACADEMY_ID
            left outer join (
                SELECT ACADEMY_ID, AVG(score) AS AVG_SCORE
                FROM review_tb
                GROUP BY ACADEMY_ID
            ) rt ON rt.ACADEMY_ID = at.ACADEMY_ID
        where
            now() <![CDATA[ <= ]]> date_add(purchase_date, interval pt.product_period DAY)
        ORDER BY RAND()
        LIMIT 3;
    </select>

</mapper>