<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aws.compass.repository.OptionMapper">

    <resultMap id="educationOfficeMap" type="com.aws.compass.entity.EducationOffice">
        <id property="educationOfficeId" column="education_office_id" />
        <id property="educationOfficeName" column="education_office_name" />
        <id property="educationOfficeCode" column="education_office_code" />

    </resultMap>

    <select id="getEducationOfficeList" resultMap="educationOfficeMap">
        select
            education_office_id,
            education_office_name,
            education_office_code
        from
            education_office_tb
    </select>
</mapper>